/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#torrentsList > tr > td {
    vertical-align: middle;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}
